body{
  background: transparent;
  padding-top: 40px;
  background-color: #eee;
}
header{
  padding-top: 40px;
  padding-bottom: 40px;
}

.btn, input[type=text]{
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}


form{
  padding-top: 25px;
  padding-bottom: 25px;
}
.footer{
  color:#ccc;
  padding-top: 20px;
  padding-bottom: 20px;
}
h3{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
